README.md
Dockerfile
.dockerignore

# Empêche d'ajouter les fichiers de version
.git
.gitignore

# Empêche d'ajouter les fichiers de config IDE
.vscode/
.idea/

# Empêche les caches Python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache

# Fichiers/dossiers de dépendances locales
.venv/
env/
venv/

# Fichiers de log
*.log

# Contenu statique collecté
/staticfiles/
media/

# Node
node_modules/
