{% block header %} 
<header>
    <h1>Observer, Ressentir, Comprendre, Agir</h1>
    <nav>
        <ul>
          <li><a href="/">Accueil</a></li>
          {% if user.is_authenticated %}
            <li><a href="{% url 'observation' %}">Pratiquer</a></li>
            <li><a href="{% url 'dashboard' %}">Chez moi</a></li>
            <li><a href="{% url 'diary' %}">Mon Journal</a></li>
            <li>
                <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">Déconnexion</button>
                </form>
            </li>
          {% else %}
            <li><a href="{% url 'login' %}">Connexion</a></li>
            <li><a href="{% url 'register' %}">Inscription</a></li>
          {% endif %}
        </ul>
    </nav>
</header>
{% endblock header %}