{% extends 'base.html' %}

{% block content %}
<h1>Bienvenue sur Pause Empathique</h1>

<p>Un outil simple pour pratiquer l'auto-empathie.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, nam pariatur doloribus facere ea alias doloremque, totam dicta reprehenderit ab sint. Quod distinctio animi beatae quos cumque, nemo eveniet impedit.</p>

{% if user.is_anonymous %}
    <a href="{% url 'login' %}">Se connecter</a>
    <a href>S'inscrire</a>
{% endif %}

{% endblock content %}