{% extends 'base.html' %}
{% block content %}
<main>
<ul>
{% for pause in pauses %}
    <h3>Pause du {{ pause.created_at|date:"d/m/Y H:i" }}</h3>
    <li>Observation :</li>
        <ul>
            <li>"{{ pause.observation }}"</li>
        </ul>
    <li>Sentiments :</li>
        <ul>
            {% for feeling in pause.feelings_with_labels %}
                <li>{{ feeling }}</li>
            {% endfor %}
        </ul>
    <li>Besoins :</li>
        <ul>
          {% for need in pause.needs.all %}
            <li>{{ need.name }}</li>
          {% empty %}
            <li>Aucun</li>
          {% endfor %}
        </ul>
{% endfor %}
</ul>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; Début</a>
            <a href="?page={{ page_obj.previous_page_number }}">Préc.</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} sur {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Suivante</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Fin &raquo;</a>
        {% endif %}
    </span>
</div>

</main>

{% endblock content %}